.intro-container {
  -webkit-animation: fadein 5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s;
  /* Firefox < 16 */
  -ms-animation: fadein 5s;
  /* Internet Explorer */
  -o-animation: fadein 5s;
  /* Opera < 12.1 */
  animation: fadein 5s;
}

.nav-item {
  transition: ease-in-out;
  transition-duration: 200ms;
  position: relative;
  margin: 1rem;
}

.nav-item:hover,
.nav-item:focus,
.active-nav-item {
  color: #07f59a;
  cursor: pointer;
  outline: none;
}

.nav-item::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.87);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.nav-item:hover::after,
.nav-item:focus::after {
  transform: scale(1);
}

.active-nav-item::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.87);
  transform: scaleX(1);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.social-media-icon {
  font-size: 1.5rem;
  transition: ease-in-out;
  transition-duration: 200ms;
}

.social-media-icon:hover,
.social-media-icon:focus {
  color: #07f59a;
  cursor: pointer;
}

.project-container {
  overflow: hidden;
  position: relative;
  /* box-shadow: 1px 2px rgba(0, 0, 0, .6); */
}

.project-image {
  display: block;
  transition:
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.project-image:hover,
.project-image:focus {
  transform: scale(1.05);
  opacity: .75;
}

.project-details-container {
  background: rgba(0, 0, 0, .9);
  transition:
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
  opacity: 0;
}

.project-details-container:hover,
.project-details-container:focus {
  transform: scale(1.03);
  opacity: 1;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.bounceLeft {
  -moz-animation: bounceLeft 2s infinite;
  -webkit-animation: bounceLeft 2s infinite;
  animation: bounceLeft 2s infinite;
}

@keyframes bounceLeft {

  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  40% {
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

  60% {
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
}